/* COMMONS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: white;
    margin-bottom: 5px;
}

h4{
    color: white;
    margin: 5px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* audio card */

.audio-card-box{
    margin-top: 30px;
}

.audio-card{
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    height: auto;
    width: calc(100% / 2 - 10px);
}

.audio-card  img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.audio-card .image-audio-card{
    width: 100%;
    position: relative;
    display: flex;
}

.audio-card .iamge-layover{
    background-color: rgba(0, 0, 0, 0.54);
    position: absolute;
    top:0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    display: none;
}

.audio-card .image-audio-card i{
    font-size: 60px;
    color: white;
} 

.audio-card .audio-card-description h4{
    font-size: 14px;
}

.audio-card .audio-card-description span{
    text-transform: lowercase;
    color:#707378;
}
 
/*---------------------------------MAIN----------------------------------*/

/* -----------ALL MY SIDEBARS: SIDEBAR-XS & SIDEBAR(from SM to LG)--------*/

#sidebar-xs{
    
    height: calc(100vh - 90px);
    background-color: black;
    color: #a3a3a3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Upper sidebar-xs */

.upper-sidebar-xs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.upper-sidebar-xs img:nth-of-type(1){
    width: 60%;
    margin-bottom: 15px;
}

.upper-sidebar-xs img{
    margin: 0 auto;
    width: 55%;
}

/* Lower-sidebar-xs */

.lower-sidebar-xs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.lower-sidebar-xs i{
    font-size: 20px;
    margin-bottom: 12px;   
}    

.lower-sidebar-xs .img-profile{
    background-color: #808080;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
}

.lower-sidebar-xs .img-profile>img{
    width: 90%;
    border-radius: 50%;
} 

/* SIDEBAR(from SM to LG) */

#sidebar{
    height: calc(100vh - 90px);
    min-height: 480px;
    background-color: black;
    color: #a3a3a3;
    display:none;
    flex-direction: column;
    justify-content: space-between;
}

/* Upper sidebar (composed by 3 parts: logo + navbar + playlist) */

.upper-sidebar{
    overflow: hidden;
    color:#a3a3a3;
}

/* Upper sidebar: logo */

.logo{
    height: 60px;
}

.logo img{
    padding-top: 15px;
    margin-left: 20px;
    width: 120px;
}

/* Upper sidebar: navbar */

.navbar{
    margin-top: 15px;
}

.navbar .row{
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding-left: 20px;
}

.navbar .row img{
    width: 26px;
}

.navbar .row .icon-description{
    font-size: 12px;
    padding-left: 8px;
}

/* Upper sidebar: playlist */

.playlist{
    margin-top: 20px;
    padding-left: 20px;
    overflow: hidden;
    height: 80%;
}

#sidebar .playlist h4{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 8px;
    margin-left: 0px;
}

.add-playlist{
    margin: 5px 0;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.add-playlist i{
    font-size: 40px;
    margin-right: 10px;
}

.all-playlist{
    height: 60%;
    overflow-y: auto;
}

ul li{
    font-size: 12px;
    list-style: none;
    margin: 12px 0;
}

/* lower-sidebar */

.lower-sidebar{
    height: 80px;
    padding: 0 20px;
}

.lower-sidebar .install-app{
    padding-bottom: 5px;
    border-bottom: 1px solid #a3a3a3;;
}

.lower-sidebar .install-app span{
    font-size: 12px;
    margin-left: 5px;
}

.lower-sidebar .install-app img{
    vertical-align: middle;
    width: 25px;
} 

.lower-sidebar .user-profile{
    padding-top: 10px;
}

.lower-sidebar .user-profile .img-profile{
    display: inline-block;
    background-color: #808080;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.lower-sidebar .user-profile .img-profile img{
    vertical-align: middle;
    width: 90%;
    border-radius: 50%;
} 

.lower-sidebar .user-profile .user-name{
    color:white;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
} 

/* ----------------------Content Page---------------------*/

.content-page{
    height: calc(100vh - 90px);
    background-color: #141922;;
    overflow: auto;
}

/* Header */

header{
    width: calc(100% - 25px);
    height: 70px;
    background-color: rgba(8, 11, 18, 0.8);
    position: fixed;
    z-index: 3;
     transition: all .25s linear; 
}

header .upgrade{
    border: 1px solid white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    position: fixed;
    right: 20px;
    top: 16px;
    z-index: 6;
}

header .upgrade a{
    color: white;
    text-decoration: none;
}

/* Section */

section{
    margin-top: 80px;
}

.content-page span a:not(.upgrade>a){
    color: #707378;
    font-weight: 500px;
    text-decoration: none;
}

.music-sections{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
} 

.content-page .music-sections span, .content-page header .upgrade{
    font-size: 12px;
    text-transform: uppercase; 
}

.content-page .music-sections span{
    margin:15px;
}

.my-music{
    margin-top: 20px;
}

.content-page .my-music .subtitle{
    color: #707378;
    font-size: 14px;
}

.recently-played, .created-for-U, .popular-artists{
    margin: 0 10px 20px 20px;
}


.circle-card img{
    border-radius: 50%;
}

.circle-card .iamge-layover{
    border-radius: 50%;
}

.audio-card-description{
    text-align: center;
}

/* ------------------FOOTER------------------ */

footer{
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #282828
}

footer .row{
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
}
    
footer .left-footer, footer .middle-footer, footer .right-footer{
    height: 70px;
}

/* left-footer */

footer .left-footer .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    flex-wrap: nowrap;
}

footer .left-footer .row .song-played{
    display: flex;
    align-items: center;
}

footer .left-footer .row .song-played img{
    width: 0px;
}

footer .left-footer .row .song-played  .song-played-title{
    margin-left: 10px;
}

footer .left-footer .row .song-played  .song-played-title span{
    display: block;
    font-size: 12px;
    margin-top: 0;
    color: #5a5a5a;
}

footer .left-footer .row .song-played  .song-played-title .song-title{
    font-size: 13px;
    color: white;
    font-weight: 500px;
}

footer .left-footer .row .like-folder i{
    font-size: 16px;
    margin-bottom: 8px;
    padding-right: 8px;
    color: #c1c1c1;
}

/* .middle-footer */

.music-controller{
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-controller i{
    margin: 0 6px 0 6px;
    font-size: 15px;
    color: #c1c1c1 ;
}

.music-controller i:nth-of-type(3){
    font-size: 28px;
}

/* middle-footer-bottom */

.middle-footer-bottom{
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-footer-bottom .time{
    font-size: 10px;
    color: #c1c1c1;
} 

.progressbar-container{
    width: 50%;
    margin: 0 5px;
}

.progressbar {
    background-color: #5a5a5a;
    border-radius: 13px;
    position: relative;
}

.middle-footer-bottom .fa-circle{
    color: #c1c1c1;
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translateY(-50%);
    display: none;
}
  
.progressbar>div {
    background-color: #c1c1c1;
    width: 40%;
    height: 5px;
    border-radius: 10px;
}

/* right-footer */

footer .right-footer .row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 7px;
    flex-wrap: nowrap;
}

footer .right-footer .row i{
    margin: 0 5px;
    font-size: 12px;
    color: #c1c1c1;
} 

footer .right-footer .progressbar{
    display: none;
    width: 50%;
}

footer .right-footer .progressbar>div{
    height: 4px;
}

footer .right-footer .progressbar .fa-circle{
    color: #c1c1c1;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translateY(-50%);
    display: none;
} 

/* ---------------CUSTOMIZED SCROLLBAR--------------------- */

/* main-content-page scroll-bar */

/* for mozzilla */
.content-page{
    scrollbar-color: #a3a3a3 rgba(8, 11, 18, 0.8) ;
}

.content-page::-webkit-scrollbar {
    width: 12px;
}

.content-page::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 10px;
}

.content-page::-webkit-scrollbar-track{
    background: rgba(8, 11, 18, 0.8);
    border-radius: 10px;
}

/* all-playlist scroll-bar */

/* for mozzilla */
.all-playlist{
    scrollbar-color: rgb(0,255,0,0.2) #0000 ;
}

.all-playlist::-webkit-scrollbar {
    width: 8px;
}

.all-playlist::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 10px;
}

.all-playlist::-webkit-scrollbar-thumb:hover{
background: #aafb2e;
}

.all-playlist::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/*----------------- HOVER EFFECTS-----------------------------*/

/* Hover sidebar */

.upper-sidebar-xs .row:hover{
    border-left: 2px solid #aafb2e ;
    background-color:rgb(0,255,0,0.1);
}

.lower-sidebar-xs i:hover{
    color:#aafb2e ;
}

.navbar .row:hover{
    border-left: 4px solid #aafb2e;
    color:white;
    background-color: rgb(0,255,0,0.1);
    cursor: pointer;
}

.add-playlist:hover, .install-app:hover{
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.all-playlist li:hover{
    color: white;
    font-weight: bolder;
}

/* Hover on "effettua upgrade" span-button */

header .upgrade:hover{
    transform: scale(1.1);
    background-color: rgb(255,255,255,0.1);
}

/* Hover music-section container: stroke + change color for "a" elements */

.music-sections a:after{
    transition: all .5s;
}

.music-sections a{
    position: relative;
}

.music-sections a:hover{
    color: white;
}

.music-sections a:after {
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background:#aafb2e;
    border-radius: 30px;
    height: 3px;
}

.music-sections a:hover:after {
    width: 50%;
}

/* Hover image my-music container: change brithness image + display "play-icon"  */

.audio-card .image-audio-card:hover .iamge-layover{
    display: flex;
}

/* Hover footer */

.left-footer .song-played-title span:hover{
    font-weight: bolder;
}

.left-footer .row .like-folder i:hover, .right-footer .row i:hover{
    color: white;
}

.music-controller i:not(:nth-of-type(3)):hover{
    color:white;
    font-size: 16px;
}

.music-controller i:nth-of-type(3):hover{
    color:#aafb2e ;
}

.progressbar>div:hover {
    background-color: #aafb2e;
}

.middle-footer-bottom .progressbar:hover .fa-circle{
    display: block;
}

.right-footer .row .progressbar:hover .fa-circle{
    display: block;
}
  
/*-------------------------RESPONSIVE--------------------- */

@media screen and (min-width:420px) {
    footer .left-footer .row{
        padding-left: 7px;
    }

    footer .left-footer  .row .song-played img{
        width: 50px;
    }

    footer .left-footer .row .like-folder i{
        margin-left: 5px;
    }

    footer .right-footer .row{
        justify-content: space-around;
        justify-content: center;
    }

    footer .right-footer .progressbar{
        display: inline-block;
    }
}

@media screen and (min-width:576px) {
    #sidebar{
        display: flex;
    }

    #sidebar-xs{
        display: none;
    }

    footer .left-footer .row{
        padding-left: 20px;
    }
}

@media screen and (min-width:768px) {

    .audio-card{
        width: calc(100% / 4 - 10px);
    }

    .recently-played .audio-card .audio-card-description{
        height: 100px;
    }
    
    .audio-card .audio-card-description h4{
        font-size: 13px;
    }

    .audio-card .audio-card-description span{
        font-size: 11px;
    } 
    
    footer .left-footer .row .like-folder i{
        margin-left: 15px;
        font-size: 20px;
    }

    .music-controller i{
        margin: 0 10px 0 10px;
        font-size: 20px; ;
    } 

    .music-controller i:not(:nth-of-type(3)):hover{
    font-size: 22px;
    }
    
    .middle-footer-bottom .time{
        font-size: 12px;
    } 
    
    .progressbar-container{
        width: 60%;
        margin: 0 20px;
    }
    
    footer .right-footer .row{
        padding-right: 20px;
    }

    footer .right-footer .row i{
        margin: 0 8px;
        font-size: 15px;
        color: #c1c1c1;
    }
}  
     
@media screen and (min-width:992px) {

    .audio-card{
        margin-right: 20px;
        width: calc(100%  / 6 - 20px);
    }

    .recently-played .audio-card .audio-card-description{
        height: auto;
    }
    
    .audio-card .audio-card-description h4{
        font-size: 14px;
    }

    .audio-card .audio-card-description span{
       font-size: 12px;
    }
    
}

@media screen and (max-height:350px) {
    
   .content-page header { 
       height: 0px;
   }

   .content-page header .upgrade{
       display: none;
   }

   section{
    margin-top: 30px;
   }
}

